@media (min-width: 1600px) {
    .about .slick-list {
        padding: 0 17%;
    }

    .presentation .parallax-item:nth-child(1) {
        left: 42% !important;
    }

    .intro__img {
        max-width: 55%;
    }

    .intro__info-content {
        padding-right: 30rem;
    }
}

@media (min-width: 1500px) {
    .map-wrap {
        width: 56%;
    }

    .flight .parallax-item:nth-child(1) {
        top: 0 !important;
    }
}

@media (max-width: 1370px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 1250px) {

    .map-wrap {
        width: 55%;
    }

    .flight .parallax-item:nth-child(1) {
        max-width: 55rem;
        top: 11rem !important;
    }

    .about .slick-list {
        padding: 0;
    }

    .header {
        padding-bottom: 20rem;
    }

    .sign-up .parallax-item:nth-child(1) {
        max-width: 60rem;
    }

    .popup-phone__img {
        max-width: 45rem;
        left: -13rem;
    }

    .popup-book__img {
        left: -9rem;
        top: 7rem;
        max-width: 37.2rem;
    }
}

@media (max-width: 1150px) {
    .presentation .parallax-item:nth-child(1) {
        max-width: 30rem;
    }

    .presentation .parallax-item:nth-child(2) {
        max-width: 33.5rem;
    }

    .aesthetics__title-content {
        max-width: 37.5rem;
    }

    .sign-up .parallax-item:nth-child(1) {
        max-width: 51rem;
    }

    .living-space__title-content {
        max-width: 61rem;
    }

    .flight .parallax-item:nth-child(1) {
        max-width: 47rem;
        top: 24rem !important;
    }

    .flight__item:nth-child(2) {
        right: -17rem;
    }

    .buyin__top-content {
        margin-bottom: 34px;
    }
}