@media (max-width: 1023px) {
    h1 {
        font-size: 8rem;
    }

    .intro__info-num p {
        font-size: 14rem;
    }

    .intro__play-content p {
        display: none;
    }

    .intro__img {
        height: 88rem;
    }

    .header {
        padding-bottom: 15rem;
    }

    .parallax-item {
        position: absolute;
    }

    .presentation {
        padding-bottom: 80px;
    }

    .aesthetics .container {
        flex-direction: column;
        align-items: center;
    }

    .aesthetics__title-content {
        max-width: 44.6rem;
        margin-bottom: 70px;
        padding-top: 0;
    }

    .sign-up .parallax-item:nth-child(1) {
        // max-width: 35rem;
        // top: 83rem !important;
        display: none !important;
    }

    .sign-up .parallax-item:nth-child(2) {
        display: none;
    }

    .sign-up__list {
        margin: 0 auto;
    }

    .interior .container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .interior__bg {
        position: static;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        height: 400px;
    }

    .interior__hover-list {
        display: none;
    }

    .interior__title {
        padding-top: 0;
    }

    .sign-up .btn-main {
        margin: 0 auto;
        margin-top: 40px;
    }

    .sign-up {
        padding-bottom: 80px;
    }

    .living-space__bg {
        position: static;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        height: 400px;
    }

    .living-space__title-content {
        margin: 0 auto;
        margin-bottom: 30px;
        padding-top: 80px;
    }

    .layout {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .layout__book {
        display: none;
    }

    .main-form {
        padding-right: 0;
        max-width: 55rem;
        padding-left: 15px;
        padding-right: 15px;
    }

    .main-form__form-wrap {
        margin: 0 auto;
    }

    .about__slider-wrap {
        padding-left: 15px;
        padding-right: 15px;
    }

    .about__slider-btn--next {
        right: -2rem;
    }

    .about__item-img {
        right: 22px;
    }

    .about__item-img {
        max-width: 40rem;
    }

    .about__item {
        padding-bottom: 22.5rem;
    }

    .about__item h3 {
        font-size: 7rem;
    }

    .flight .parallax-item:nth-child(1) {
        display: none;
    }

    .flight__item {
        position: static;
    }

    .flight__list {
        display: none;
    }

    .flight__list--mobile {
        display: block;
        padding-top: 40px;
    }

    .flight__item {
        margin: 0 auto;
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .flight {
        padding-bottom: 80px;
        padding-top: 80px;

        .main-form {
            margin-top: 30px;
        }
    }

    .buyin {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .buyin__top-content {
        flex-direction: column;
        align-items: center;
    }

    .buyin__bottom-content .buyin__price-wrap {
        margin: 0;
    }

    .buyin__price-bottom-wrap:last-child .buyin__price-wrap {
        margin-left: auto;
    }

    .buyin__price-wrap {
        margin-bottom: 34px;
    }

    .map-wrap {
        position: static;
    }

    .info__title-content {
        max-width: 48rem;
        margin: 0 auto;
        min-height: 0;
        margin-bottom: 30px;
    }

    .map-wrap {
        width: 100%;
        height: 50rem;
    }

    .footer__logo-content {
        max-width: none;
        margin-bottom: 15px;
    }

    .footer__info-content {
        padding-right: 0;
        max-width: none;
    }

    .footer__social-list {
        margin: 0;
    }
    
    .buyin__top-content {
        padding-top: 20px;
    }

    .sign-up {
        padding-top: 80px;
    }

    .popup-phone__img {
        display: none;
    }

    .popup-book__img {
        display: none;
    }

    .popup-big .main-form {
        max-width: 54rem;
    }

    .popup-big {
        max-width: 54rem;
    }

    .popup .main-form {
        padding-left: 15px;
        padding-right: 15px;
    }

}

@media (max-width: 750px) {

    .presentation .parallax-item:nth-child(1) {
        display: none;
    }

    h1 {
        font-size: 7rem;
    }

    .aesthetics__info-item:nth-child(4) {
        left: -10px;
    }

    .about {
        padding-bottom: 80px;
    }

    .sign-up__list {
        max-width: none;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .buyin__bottom-content {
        flex-direction: column;
        align-items: center;
    }

    .buyin__bottom-content .buyin__price-wrap {
        margin: 0 auto;
        margin-bottom: 34px;
    }

    .buyin__price-bottom-wrap:last-child .buyin__price-wrap {
        margin: 0 auto;
    }
}

@media (max-width: 580px) {
    h1 {
        font-size: 5.5rem;
        line-height: 6.7rem;
    }

    h1 span {
        padding-left: 0;
    }

    .intro__info-wrap {
        flex-direction: column;
        align-items: center;
    }

    .intro__img {
        position: absolute;
        max-width: none;
        width: 100%;
        height: 75rem;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255,255,255,0.4);
        }
    }

    .intro__title-content p {
        color: #121212;
        padding-left: 0;
        text-align: center;

        &::before {
            display: none;
        }
    }

    .intro__info-num p {
        font-size: 10rem;
    }

    .intro__info-content {
        padding-right: 0;
        padding-top: 15px;
    }

    .header {
        padding-bottom: 8rem;
    }

    .intro {
        padding-bottom: 14.5rem;
    }

    .main-title {
        font-size: 4rem;
        line-height: 5rem;
    }

    .presentation .parallax-item:nth-child(2) {
        display: none;
    }

    .presentation__list {
        max-width: 320px;
        margin: 0 auto;
        padding-bottom: 45px;
    }

    .presentation .btn-main {
        margin: 0 auto;
    }

    .aesthetics__info-item {
        position: static;
        margin-bottom: 15px;
        margin-right: 5px;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    .aesthetics__img {
        display: none;
    }

    .aesthetics__info-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .aesthetics {
        padding-top: 80px;
        padding-bottom: 65px;
    }

    .sign-up .btn-main {
        margin-top: 0;
    }

    .interior__bg {
        height: 300px;
    }

    .living-space__bg {
        height: 300px;
    }

    .living-space__list {
        flex-direction: column;
        align-items: center;
    }

    .living-space__item {
        display: flex;
        align-items: center;
        max-width: 237px;
        width: 100%;
    }

    .living-space__item-img {
        min-width: 9.8rem;
        max-width: 9.8rem;
        margin-right: 15px;
    }

    .main-form {
        margin-top: 40px;
    }

    .about__item h3 {
        font-size: 4rem;
    }

    .about__item-img {
        max-width: 25rem;
        top: 8rem;
    }

    .about__item {
        padding-bottom: 17.5rem;
    }

    .about__slider-btn {
        bottom: 7rem;
    }

    .main-form__form-title h4 {
        font-size: 3rem;
    }

    .buyin__price-wrap {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .buyin__price-img {
        min-width: 9rem;
        max-width: 9rem;
    }

    .buyin__price-text p strong {
        font-size: 3rem;
    }

    .map-wrap {
        height: 350px;
    }

    .footer .container {
        flex-direction: column;
        align-items: center;
    }

    .footer__logo-content {
        flex-direction: column;
        align-items: center;
    }

    .footer__info-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        margin-bottom: 15px;
        margin-right: 0;
    }

    .footer__info {
        margin-bottom: 15px;
        text-align: center;
    }

    .footer__logo-content p {
        text-align: center;
    }

    .footer__social-list {
        margin-bottom: 25px;
    }

    .buyin .parallax-wrap {
        display: none;
    }

    .intro__info {
        max-width: none;
    }

    .intro__info-num {
        margin-right: 18px;
    }

    .about__item p {
        opacity: 1;
    }

    .header__logo {
        max-width: 9rem;
    }

    .footer-logo {
        max-width: 9rem;
    }

    .intro__play-btn {
        margin: 0 auto;
        margin-top: 20px;
    }

    .about__item-img {

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba(0,0,0,0.2);
        }
    }

    .about__item {
        padding-top: 4.3rem;
    }

    .flight .main-form {
        margin-top: 20px;
    }

    .buyin__price-wrap {
        border: 4px solid #f8f8f8;
    }

    .main-form {
        border: 4px solid #f8f8f8;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .about__slider-wrap {
        padding-top: 40px;
    }

    .intro__play-btn {
        max-width: 10.5rem;
    }

    .sign-up__item {
        padding-bottom: 30px;
    }

    .about {
        padding-top: 80px;
    }
}

@media (max-width: 370px) {
    h1 {
        font-size: 4.5rem;
        line-height: 5.7rem;
    }

    .intro__info-num p {
        font-size: 9rem;
    }

    .main-title {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }

    .main-title__text {
        font-size: 2.2rem;
    }

    .interior__bg {
        height: 250px;
    }

    .living-space__bg {
        height: 250px;
    }

    .about__item h3 {
        font-size: 3rem;
        line-height: 4rem;
    }

    .about__item p {
        font-size: 2rem;
        line-height: 3rem;
    }

    .buyin__price-text span {
        font-size: 1.2rem;
    }

    .buyin__price-img {
        min-width: 8rem;
        max-width: 8rem;
    }

    .info__item-row {
        flex-direction: column;
    }

    .map-wrap {
        height: 300px;
    }

    .intro__img {
        height: 70rem;
    }
}