.parallax-wrap {
  position: absolute !important;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1;
  top: 0;
}

.presentation .parallax-item:nth-child(1) {
  top: 24rem !important;
  max-width: 43.2rem;
  left: 34% !important;
}

.presentation .parallax-item:nth-child(2) {
  top: 24rem !important;
  max-width: 47.7rem;
  margin-left: auto;
  left: auto !important;
  right: -2rem !important;
}

.sign-up .parallax-wrap {
  pointer-events: all;
  z-index: 3;
}

.sign-up .parallax-item:nth-child(1) {
  top: 27rem !important;
  max-width: 72.3rem;
  margin-left: auto;
  left: auto !important;
  right: -2rem !important;
}

.sign-up .parallax-item:nth-child(2) {
  top: -2rem !important;
  left: -1rem !important;
  pointer-events: none;
  z-index: -10;
}

.layout .parallax-item:nth-child(1) {
  top: -10rem !important;
  left: 0rem !important;
  opacity: .4;
}

.layout .parallax-item:nth-child(2) {
  top: 0rem !important;
  right: -2rem;
  max-width: 50.6rem;
  margin-left: auto;
  opacity: .4;
}

.layout .parallax-wrap {
  z-index: 2;
}

.flight .parallax-item:nth-child(1) {
  top: 2rem !important;
  left: -2rem !important;
  max-width: 64.7rem;
}

.flight .parallax-wrap {
  z-index: 2;
} 

.buyin .parallax-item:nth-child(1) {
  top: 0rem !important;
  left: -2rem !important;
}

.buyin .parallax-item:nth-child(2) {
  top: 60rem !important;
  max-width: 92.8rem;
  margin-left: auto;
  left: auto !important;
  right: -2rem !important;
}

.buyin .parallax-wrap {
  z-index: 2;
} 