@import "normalize";
@import "variables";
@import "parallax";
@import "slick";
@import "fancybox";


@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/subset-FuturaPT-Light.woff2') format('woff2'),
        url('../fonts/subset-FuturaPT-Light.woff') format('woff'),
        url('../fonts/subset-FuturaPT-Light.svg#FuturaPT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BazaART';
    src: url('../fonts/subset-BazaART.woff2') format('woff2'),
        url('../fonts/subset-BazaART.woff') format('woff'),
        url('../fonts/subset-BazaART.svg#BazaART') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/subset-Helvetica-Light.woff2') format('woff2'),
        url('../fonts/subset-Helvetica-Light.woff') format('woff'),
        url('../fonts/subset-Helvetica-Light.svg#Helvetica-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}



.overflowHidden {
  overflow: hidden;
} 

html {
    font-size: 10px;
}


img {
    max-width: 100%;
    height: auto;
}


body {
  font-family: 'Futura PT', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 120rem;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.parallax-content {
	position: relative;
	overflow: hidden;
}

.header {
	position: relative;
	z-index: 2;
	padding-bottom: 24rem;
	padding-top: 1.5rem;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header__logo {
	display: block;
	max-width: 11.6rem;
}

.header__tel-content {
	text-align: right;
}

.header__tel {
	display: block;
	font-size: 2.4rem;
	color: #121212;
	transition: all .3s;
	margin-bottom: 1rem;

	&:hover {
		opacity: .7;
	}
}

.header__tel-btn {
	position: relative;
	font-family: 'BazaART', sans-serif;
	font-size: 1.4rem;
	text-transform: uppercase;
	color: #121212;
	letter-spacing: 0.23em;
	transition: all .3s;

	&::before {
		content: "";
		position: absolute;
		right: 0;
		bottom: -3px;
		width: 8.1rem;
		height: 1px;
		background-color: #121212;
		pointer-events: none;
		transition: all .3s;
	}

	&:hover {

		&::before {
			width: 100%;
		}
	}
}

.intro {
	padding-bottom: 30.5rem;
	
	.container {
		position: relative;
		z-index: 2;
	}
}

h1 {
	font-family: 'BazaART', sans-serif;
	font-size: 10.1rem;
	line-height: 9.3rem;
	color: #121212;
	font-weight: 400;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	padding-bottom: 3.8rem;

	span {
		display: block;
		padding-left: 10.5rem;
	}
}

.intro__title-content {

	p {
		position: relative;
		padding-left: 12.2rem;
		font-size: 1.8rem;
		color: #6a6a6a;

		&::before {
			content: "";
			position: absolute;
			width: 9.3rem;
			height: 1px;
			background-color: #c4c4c4;
			top: 1.3rem;
			left: 5px;
		}
	}
}

.intro__info-wrap {
	display: flex;
	align-items: flex-end;
}

.intro__info-content {
	display: flex;
	align-items: center;
	padding-right: 14.5rem;
}

.intro__info {
	max-width: 17.5rem;
	width: 100%;
	margin-right: 6rem;

	h4 {
		font-family: 'BazaART', sans-serif;
		font-size: 3rem;
		color: #121212;
		text-transform: uppercase;
		font-weight: 400;
	}

	p {
		font-size: 1.8rem;
		line-height: 2.8rem;
		color: #121212;
		font-weight: 300;
	}
}

.intro__info-num {
	position: relative;

	p {
		font-family: 'BazaART', sans-serif;
		font-size: 18.5rem;
		line-height: 15.5rem;
		color: #121212;
	}

	span {
		position: absolute;
		font-family: 'BazaART', sans-serif;
		display: block;
		font-size: 1.2rem;
		color: #121212;
		letter-spacing: 0.22em;
		text-transform: uppercase;
		transform: rotate(-90deg);
		top: 6.9rem;
		right: -7.3rem;
	}
}

.intro__play-content {
	max-width: 16.5rem;
	width: 100%;

	p {
		font-size: 1.8rem;
		line-height: 2.8rem;
		color: #121212;
		font-weight: 300;
	}
}

.intro__play-btn {
	display: block;
	max-width: 13.8rem;
	transition: all .3s;
	margin-bottom: 3.3rem;

	&:hover {
		opacity: .7;
	}
}

.intro__img {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
	max-width: 60%;
	height: 105.6rem;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}

.presentation {
	position: relative;
	padding-bottom: 15.2rem;
}

.main-title {
	font-family: 'BazaART', sans-serif;
	font-size: 5rem;
	line-height: 6rem;
	color: #121212;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-weight: 400;
	padding-bottom: 2.3rem;
}

.main-title--center {
	text-align: center;
}

.main-title--white {
	color: #fef4f7;
}

.main-title__text {
	font-size: 2.4rem;
	color: #6a6a6a;
	font-weight: 300;
	color: #6a6a6a;
}

.main-title__text--white {
	color: #fff;
	opacity: .63;
}

.main-title__text--center {
	text-align: center;
}

.presentation__list {
	max-width: 27.3rem;
	width: 100%;
	padding-bottom: 7.9rem;
	padding-top: 7.5rem;
}

.presentation__item {

	p {
		display: flex;
		align-items: center;
		font-family: 'BazaART', sans-serif;
		font-size: 1.6rem;
		color: #6a6a6a;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		margin-top: 1.2rem;
		margin-bottom: 1.2rem;
		min-height: 4.8rem;
	}
}

.presentation__num-item {
	position: relative;
	display: flex;
	align-items: center;

	span {
		font-family: 'BazaART', sans-serif;
		display: block;
		font-size: 1.6rem;
		color: #6a6a6a;
		letter-spacing: 0.1em;
	}
}

.presentation__num-item-line {
	position: relative;
	max-width: 24.3rem;
	width: 100%;
	height: 1px;
	background-color: #e7e7e7;
	margin-right: 1.3rem;

	&::before {
		content: "";
		position: absolute;
		width: 210%;
		left: -150%;
		top: 0px;
		height: 1px;
		background-color: #e7e7e7;
	}
}

.btn-main {
	font-family: 'BazaART', sans-serif;
	display: block;
	text-align: center;
	max-width: 28.8rem;
	width: 100%;
	line-height: 7rem;
	font-size: 1.4rem;
	color: #ffffff;
	letter-spacing: 0.23em;
	background-color: #74b1f6;
	transition: all .3s;

	&:hover {
		background-color: #bcbcbc;
		transform: translate(0, -5px);
	}
}

.aesthetics {
	padding-top: 10rem;
	position: relative;
	background: rgb(34,33,32);
	background: linear-gradient(0deg, rgba(34,33,32,1) 0%, rgba(74,69,72,1) 100%);

	.container {
		display: flex;
		justify-content: space-between;
	}

	.main-title {
		padding-bottom: 3.8rem;
	}
}

.aesthetics__title-content {
	max-width: 44.6rem;
	width: 100%;
	padding-top: 3rem;
}

.aesthetics__info {
	position: relative;
}

.aesthetics__img {
	max-width: 72.3rem;
	margin-right: -10rem;
}

.aesthetics__info-item {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 12.9rem;
	height: 12.9rem;
	border-radius: 50%;
	background-color: rgb(254, 244, 247);
	padding-left: 5px;
	padding-right: 5px;

	&:nth-child(1) {
		top: -3rem;
		left: -2rem;
	}

	&:nth-child(2) {
		top: -2rem;
		left: 23rem;
	}

	&:nth-child(3) {
		top: -1rem;
		right: 4rem;
	}

	&:nth-child(4) {
		top: 17rem;
		left: -8rem;
	}

	&:nth-child(5) {
		top: 29rem;
		left: 7rem;
	}

	&:nth-child(6) {
		top: 29rem;
		right: 0;
	}

	p {
		font-size: 1.6rem;
		color: rgba(18,18,18,0.81);
		font-weight: 300;
		line-height: 2.2rem;
		text-align: center;

		span {
			display: inline-block;
			padding-right: 1px;
			font-family: 'BazaART', sans-serif;
			font-size: 2.3rem;
			line-height: 2.2rem;
			color: #121212;
			font-weight: 400;
			text-transform: uppercase;
		}
	}
}

.sign-up {
	position: relative;
	padding-top: 13rem;
	padding-bottom: 13.3rem;

	.btn-main {
		max-width: 30rem;
		margin-top: 4.8rem;
	}

	.container {
		position: relative;
		z-index: 2;
	}
}

.sign-up__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 64.4rem;
	width: 100%;
	padding-top: 10.5rem;
}

.sign-up__item {
	display: flex;
	align-items: center;
	max-width: 30rem;
	width: 100%;
	padding-bottom: 5rem;

	&:last-child {

		.sign-up__item-img {
			padding-right: 5px;
		}
	}

	p {
		font-size: 1.6rem;
		line-height: 2.4rem;
		color: #121212;
		font-weight: 300;
	}
}

.sign-up__item-img {
	display: flex;
	justify-content: flex-end;
	min-width: 9.9rem;
	margin-right: 3.2rem;
}

.interior {
	position: relative;
	z-index: 2;
	min-height: 61rem;

	.container {
		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 1;
	}
}

.interior__title {
	max-width: 40.2rem;
	width: 100%;
	padding-top: 12.5rem;

	.main-title {
		padding-bottom: 4.3rem;
	}
}

.interior__bg {
	position: absolute;
	right: 0;
	top: 0;
	width: 60%;
	height: 61rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.interior__hover-list {
	position: relative;
	max-width: 73rem;
	width: 100%;
}

.interior__hover-item {
	position: absolute;
	max-width: 12.9rem;

	&:nth-child(1) {
		top: 4rem;
    	left: 7rem;
	}

	&:nth-child(2) {
		top: 20rem;
    	left: 48rem;
	}

	&:nth-child(3) {
		top: 35rem;
    	left: 6rem;
	}

	&:nth-child(4) {
		top: 31rem;
    	left: 23rem;
	}

	&:nth-child(5) {
		top: 41rem;
    	right: 7rem;
	}

	&:nth-child(6) {
		top: 30rem;
    	right: 0rem;
	}
}

.interior__plus {
	position: relative;
	cursor: pointer;
	width: 5.9rem;
	margin: 0 auto;
	z-index: 2;
	margin-top: -1.5rem;
	transition: all .3s;

	&:hover {
		opacity: .9;
	}
}

.interior__hover-text {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 12.9rem;
	height: 12.9rem;
	border-radius: 50%;
	background-color: rgb(254, 244, 247);
	padding-left: 5px;
	padding-right: 5px;
	opacity: 0;
	transition: all .3s;

	&.active {
		opacity: 1;
	}

	p {
		font-size: 1.6rem;
		color: rgba(18,18,18,0.81);
		font-weight: 300;
		line-height: 2.2rem;
		text-align: center;

		span {
			display: inline-block;
			padding-right: 1px;
			font-family: 'BazaART', sans-serif;
			font-size: 2.3rem;
			line-height: 2.2rem;
			color: #121212;
			font-weight: 400;
			text-transform: uppercase;
		}
	}
}

.interior__hover-item {
	position: absolute;
}

.living-space {
	position: relative;
	min-height: 86rem;

	.main-title {
		padding-bottom: 4.3rem;
		padding-left: 1.5rem;
	}

	.main-title__text {
		padding-left: 1.5rem;
	}
}

.living-space__title-content {
	max-width: 65rem;
	width: 100%;
	margin-left: auto;
	padding-top: 11.8rem;
}

.living-space__list {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 6.2rem;
}

.living-space__item {
	max-width: 12.6rem;

	p {
		font-size: 1.6rem;
		line-height: 2.4rem;
		color: #121212;
		font-weight: 300;
		padding-left: 1.5rem;
	}
}

.living-space__item-img {
	margin-bottom: 2.4rem;
}

.living-space__bg {
	position: absolute;
	left: 0;
	top: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 40%;
	height: 86rem;
}

.main-form {
	position: relative;
	max-width: 77.3rem;
	width: 100%;
	margin: 0 auto;
	border: 21px solid rgb(248, 248, 248);
	padding-right: 7.7rem;
	padding-top: 5rem;
	padding-bottom: 6.5rem;
	margin-top: 8rem;

	.btn-main {
		max-width: none;
		margin-top: 5.3rem;
	}
}

.main-form__form-wrap {
	position: relative;
	max-width: 33rem;
	width: 100%;
	margin-left: auto;
}

.main-form__form-title {
	text-align: center;
	padding-bottom: 3.3rem;

	h4 {
		font-family: 'BazaART', sans-serif;
		font-size: 3.6rem;
		color: #121212;
		text-transform: uppercase;
		font-weight: 400;
		padding-bottom: 1.3rem;
	}

	p {
		font-size: 1.8rem;
		color: #121212;
		font-weight: 300;
	}
}

.main-form__field {
	position: relative;
	max-width: 28.4rem;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 1.5rem;

	input {
		width: 100%;
		font-size: 1.6rem;
		font-weight: 300;
		padding-left: 4.3rem;
		border-bottom: 1px solid #e4e4e3;
		padding-bottom: 2.7rem;
		padding-top: 2.7rem;
		background-color: transparent;

		&::placeholder {
			color: #121212;
			opacity: 1;
		}
	}

	label.error {
		position: absolute;
		font-size: 1.4em;
		color: #fd223e;
		bottom: -2rem;
		left: 4rem;
	}
}

.main-form__field--name {

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/user-form.png");
		background-size: contain;
		background-repeat: no-repeat;
		width: 2.5rem;
		height: 2.9rem;
		left: 0;
		top: 2.2rem;
		pointer-events: none;
	}
}

.main-form__field--tel {

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/tel-form.png");
		background-size: contain;
		background-repeat: no-repeat;
		width: 2.4rem;
		height: 2.8rem;
		left: 0;
		top: 2.2rem;
		pointer-events: none;
	}
}

.main-form__description {
	font-size: 1.2rem;
	text-align: center;
	color: #121212;
	font-weight: 300;
	margin-top: 3rem;

	a {
		display: inline-block;
		border-bottom: 1px solid #c2c2c2;
		color: #121212;
		transition: all .3s;

		&:hover {
			border-bottom: 1px solid transparent;
		}
	}
}

.layout {
	position: relative;
	padding-top: 12.5rem;
	padding-bottom: 13.5rem;

	.container {
		position: relative;
	}
}

.layout__book {
	position: absolute;
	left: -4rem;
	top: 32rem;
	max-width: 51.6rem;
}

.flight {
	position: relative;
	padding-bottom: 13.5rem;
	padding-top: 12rem;
}

.flight__item {
	position: absolute;
	display: flex;
	align-items: center;
	max-width: 29.5rem;

	&:nth-child(1) {
		top: 8rem;
		left: 8rem;
	}

	&:nth-child(2) {
		top: -7rem;
		right: -23rem;
	}

	&:nth-child(3) {
		bottom: 1rem;
		left: -6rem;
	}

	&:nth-child(4) {
		top: 22rem;
		right: -19rem;
	}

	&:nth-child(5) {
		bottom: -4rem;
		right: -19rem;
	}

	p {
		font-size: 1.6rem;
		line-height: 2.4rem;
		color: #121212;
		font-weight: 300;
	}
}

.flight__item-img {
	min-width: 9.8rem;
	max-width: 9.8rem;
	margin-right: 3.5rem;
}

.buyin {
	position: relative;
	padding-bottom: 13rem;
	padding-top: 12.4rem;

	.main-form {
		max-width: 53.6rem;
		margin: 0;
	}
}

.buyin__top-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 5rem;
	margin-bottom: 7rem;
}

.buyin__bottom-content {
	display: flex;
	justify-content: space-between;
	
	.buyin__price-wrap {
		max-width: 36rem;
		margin-left: auto;
		height: 100%;
	}
}

.buyin__price-bottom-wrap {
	max-width: 53.6rem;
	width: 100%;

	&:last-child {

		.buyin__price-wrap {
			margin: 0;
		}
	}
}

.buyin__text {
	text-align: center;
	font-size: 1.6rem;
	color: #121212;
	font-weight: 300;
	line-height: 2.8rem;
	padding-bottom: 5px;
}

.buyin__price-wrap {
	max-width: 53.6rem;
	width: 100%;
	border: 21px solid #f8f8f8;
	padding-left: 3.3rem;
	padding-right: 3rem;
	padding-top: 5rem;
	padding-bottom: 4.7rem;
}

.buyin-subtitle {
	font-family: 'BazaART', sans-serif;
	text-align: center;
	font-size: 3.6rem;
	color: #121212;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 2rem;
}

.buyin__price-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 3rem;
}

.buyin__price-img {
	display: flex;
	justify-content: center;
	min-width: 10.9rem;
	max-width: 10.9rem;
}

.buyin__price-text {

	p {
		font-family: 'BazaART', sans-serif;
		font-size: 1.2rem;
		color: #121212;
		font-weight: 400;
		letter-spacing: 0.04em;
		opacity: .75;
		text-transform: uppercase;
		text-align: center;

		strong {
			font-family: 'BazaART', sans-serif;
			font-size: 3.6rem;
			text-transform: uppercase;
			color: #121212;
			font-weight: 400;
		}
	}

	span {
		font-size: 1.4rem;
		color: #121212;
		font-weight: 300;
	}
}

.info {
	position: relative;
	z-index: 2;
}

.info__title-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 42rem;
	min-height: 87rem;

	.main-title {
		padding-bottom: 4.5rem;
	}

	.btn-main {
		max-width: 22.8rem;
	}
}

.info__item {
	padding-bottom: 5rem;

	h4 {
		font-family: 'BazaART', sans-serif;
		font-size: 1.6rem;
		color: #121212;
		letter-spacing: 0.1em;
		font-weight: 400;
		padding-bottom: 1.7rem;
	}

	p {
		font-size: 1.6rem;
		line-height: 2.6rem;
		color: #0e0e0e;
		font-weight: 300;
	}

	a {
		font-size: 1.6rem;
		line-height: 2.6rem;
		color: #0e0e0e;
		font-weight: 300;
	}
}

.info__item-row {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.map-wrap {
	position: absolute;
	background-color: #000;
	height: 87rem;
	width: 60%;
	right: 0;
	top: 0;
}

#map {
	width: 100%;
	height: 100%;
}

.footer {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.footer__logo-content {
	display: flex;
	align-items: center;
	justify-content: space-between;

	p {
		font-size: 1.4rem;
		line-height: 2.4rem;
		color: #121212;
		font-weight: 300;
		max-width: 22.6rem;
	}
}

.footer-logo {
	display: block;
	max-width: 11.6rem;
	margin-right: 2.5rem;
}

.footer__info-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 67.4rem;
	width: 100%;
	padding-right: 2rem;
}

.footer__info {
	font-size: 1.4rem;
	line-height: 2.4rem;
	color: #121212;
	font-weight: 300;
}

.footer__social-list {
	display: flex;
	align-items: center;
}

.footer__social {
	display: block;
	max-width: 3rem;
	margin-right: 1.5rem;
	transition: all .3s;

	&:hover {
		opacity: .7;
	}

	&:last-child {
		margin-right: 0;
	}
}

.footer__social.fb {
	max-width: 2.5rem;
	margin-right: 1rem;
}

.footer__social.inst {
	max-width: 2.3rem;
}

.footer__social.odnoklassniki {
	max-width: 2.5rem;
}

.footer__tel {
	font-size: 2.7rem;
	color: #121212;
	font-weight: 300;
}

.about {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 12rem;
	padding-bottom: 13.5rem;


	.slick-slide {
		opacity: 0.4;
		transition: all .3s;
	}

	.slick-current {
		opacity: 1;

		.about__slider-btns {
			opacity: 1;
		}

		.about__item-num {
			opacity: 1;
		}

		.about__item-counter {
			opacity: 1;
		}
	}
}

.about__item {
	position: relative;
	max-width: 86rem;
	width: 100%;
	margin: 0 auto;
	padding-top: 7.3rem;
	padding-bottom: 27.5rem;

	h3 {
		font-family: 'BazaART', sans-serif;
		font-size: 8.6rem;
		font-weight: 400;
		color: #fef4f7;
		letter-spacing: 0.06em;
		padding-bottom: 1.5rem;
	}

	p {
		font-size: 2.2rem;
		line-height: 3.2rem;
		color: #fef4f7;
		font-weight: 300;
		opacity: .8;
	}
}

.about__item-img {
	position: absolute;
	right: 0;
	top: 0rem;
	max-width: 44.5rem;
	z-index: -1;
}

.about .slick-list {
	padding: 0 13%;
}

.about__slider-wrap {
	padding-top: 8.4rem;
}

.about__item-num {
	position: absolute;
	top: 0;	
	left: 0;
	font-family: 'BazaART', sans-serif;
	font-size: 1.6rem;
	color: #fef4f7;
	font-weight: 400;
	opacity: 0;
	transition: all .3s;
}

.about__item-counter {
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	opacity: 0;
	transition: all .3s;

	.about__item-num {
		position: static;
	}
}

.about__item-line {
	width: 6rem;
	height: 1px;
	background-color: #b9b9b8;
	margin-left: 1.4rem;
}

.about__item-lines {
	display: flex;
	align-items: center;
}

.about__slider-btns {
	z-index: 2;
	transition: all .3s;
	opacity: 0;
}

.about__slider-btn {
	position: absolute;
	font-family: 'BazaART', sans-serif;
	font-size: 1.4rem;
	color: #fef4f7;
	letter-spacing: 0.2em;
	font-weight: 400;
	background-color: transparent;
	bottom: 15rem;
}

.about__slider-btn--prev {
	left: -2rem;
	transform: rotate(-90deg);
}

.about__slider-btn--next {
	right: -10rem;
	transform: rotate(90deg);
}

.flight__list--mobile {
	display: none;
}

.popup {
	display: none;
	max-width: 54rem;
	width: 100%;
	margin: 0 auto;

	.main-form {
		padding-left: 9rem;
		padding-right: 9rem;
		max-width: 54rem;
		margin-top: 0;
	}

	.main-form__form-wrap {
		margin: 0 auto;
	}

	.fancybox-button {
		top: -5rem;
		right: 6.8rem;
		padding: 0;
		opacity: 1;
		width: 0;

		&:hover {

			&::before {
				opacity: .7;
			}
		}
	}

	.fancybox-button::before {
		font-family: 'BazaART', sans-serif;
	    content: "закрыть";
	    position: absolute;
	    font-size: 1.4rem;
	    color: #111111;
	    letter-spacing: 0.2em;
	    font-weight: 400;
	    transition: all .3s;
	}

	&.fancybox-content {
	    overflow: initial;
	}

	.fancybox-button svg {
		display: none;
	}
}

.fancybox-bg {
	background: rgba(255,255,255,0.85);
}

.popup-big {
	display: none;
	position: relative;
	margin: 0 auto;
	max-width: 77.4rem;
	width: 100%;

	&.fancybox-content {
	    overflow: initial;
	}

	.main-form {
		max-width: 77.4rem;
		width: 100%;
		margin-top: 0;
	}

	.fancybox-button {
		top: -5rem;
		right: 6.8rem;
		padding: 0;
		opacity: 1;
		width: 0;

		&:hover {

			&::before {
				opacity: .7;
			}
		}
	}

	.fancybox-button::before {
		font-family: 'BazaART', sans-serif;
	    content: "закрыть";
	    position: absolute;
	    font-size: 1.4rem;
	    color: #111111;
	    letter-spacing: 0.2em;
	    font-weight: 400;
	    transition: all .3s;
	}

	&.fancybox-content {
	    overflow: initial;
	}

	.fancybox-button svg {
		display: none;
	}
}

.popup-phone__img {
	position: absolute;
	left: -20rem;
	top: 0;
	z-index: 2;
	max-width: 51.9rem;
}

.popup-book__img {
	position: absolute;
	left: -18rem;
	top: 4rem;
	z-index: 2;
	max-width: 43.2rem;
}

.dispatch-message {
	position: absolute;
	font-size: 1.6rem;
	color: #55ea55;
	text-align: center;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
	max-width: 33rem;
	width: 100%;
}

.map-infos__wrap {
	width: 100%;
	height: 63.2rem;
}

#map-2 {
	width: 100%;
	height: 100%;
	filter: grayscale(100%);
}


@import "media-desktop"; 
@import "media-mobile"; 